/* Fonte do site */
@font-face {
  font-family: yugioh;
  src: url(../fonte/yu-gi-oh-matrix-bold.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-bg: #1B1C47;
  --clr-header: #090909;
  --clr-elements: #3b488f;
  --clr-font: #fff;
}

body {
  background-color: #1B1C47;
  font-family: yugioh;
}


/* header */

header {
  position: fixed;
  width: 90%;
  max-width: 90%;
  height: 70px;
  background-color: var(--clr-header);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  top: 0;
  left: 5%;
  z-index: 1000000;
  transition: all 1s ease-in-out;
}

header.scrolled {
  background-color: transparent;
}

.caixa-esquerda,
.caixa-direita {
  width: 40%;
  height: 70px;
}

#logo {
  display: block;
  width: clamp(13rem, 16vw, 30rem);
  position: fixed;
  z-index: 1000000;
  padding-left: 1rem;
}

#logo img {
  height: 91px;
  width: 90%;
}

.caixa-direita {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  transition: all .3s ease-in-out;
}

#menu li,
a {
  text-decoration: none;
  color: var(--clr-font);
  font-size: 32px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

#menu li:hover {
  border-bottom: 3px solid #BF3124;
  transition: all 0.5s;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.bar {
  width: 100%;
  height: 20%;
  background-color: #fff;
}


main {
  transition: all .3s ease-in-out;
  overflow: hidden;
  padding-top: 70px
}

/* fim header */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  text-align: center;
  justify-content: center;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #fff;
}

.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  border-radius: 0.6em;
  color: #010F37;
  cursor: pointer;
  transition: 0.3s;
  background-color: silver;
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
}

.card .img-container {
  width: 12em;
  height: 12em;
  border-radius: 10%;
  margin: 0 auto 2em auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.card .nome {
  font-weight: 500;
  font-size: 30px;
}

.card .texto {
  font-size: 20px;
}

.card p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icons {
  width: 25%;
  min-width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
}

.card:hover {
  background: linear-gradient(#3B488F, #3B488F);
  color: #ffffff;
}

.card:hover .img-container {
  transform: scale(1.15);
}

@media screen and (min-width: 992px) {

  .card {
    padding: 3em 1em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

/* FOOTER */
footer {
  margin: 5vh auto 10vh auto;
  max-width: 80%;
  background: url(../img/background/background-space.jpg) center center no-repeat;
  background-size: cover;
  background-color: #fff;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.footer-content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-left-container,
.footer-middle-container,
.footer-right-container {
  width: 33.3%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-left-title-container,
.footer-right-content-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left-title-container {
  justify-content: space-between;
}

.footer-right-content-container {
  justify-content: baseline;
}

.footer-left-title-container,
a,
.follow-us-title {
  color: var(--clr-font);
  text-decoration: none;
}

.footer-left-title-container,
a,
.follow-us-title {
  color: var(--clr-font);
  text-decoration: none;
}

.footer-left-title-container,
.follow-us-title,
.list-names {
  color: var(--clr-font);
  text-decoration: none;
}

.footer-left-image {
  width: clamp(13rem, 16vw, 30rem);
  height: clamp(7rem, 6vh, 10rem);
}

.footer-image {
  width: 100%;
  height: 100%;
}

.footer-image img {
  width: 100%;
  height: 100%;
}

.link-container {
  width: 80%;
  height: 80%;
}

.footer-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-links,
.list-names,
.list-links,
.icon-link {
  margin: 0;
  font-size: 30px;

}

.list-names,
.footer-left-title,
.follow-us-title {
  font-size: clamp(1.2rem, 1.8vw, 2.5rem);
}

.icon-link i {
  color: var(--clr-font);
}

.social-icons-container {
  width: 100%;
  margin-top: 2rem;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
}

.icon-link i {
  font-size: 2.5rem;
}

.copyright-container {
  width: 100%;
  border-top: 2px solid var(--clr-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem 1.5rem 1rem;
}

.copyright-text {
  margin-top: 1rem;
}

.copyright-title,
.copyright-text {
  color: var(--clr-font);
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  text-align: center;
}

.follow-us-title,
.footer-left-title {
  font-size: clamp(1.4rem, 2.5vw, 2.5rem);
  font-weight: bold;
}


/* Responsividade das telas*/

@media screen and (max-width: 800px) {

  p {
    font-size: clamp(1rem, 0.8vw, 2rem);
    ;
    padding: 3px;
  }

  .containerFormatacao {
    height: 140vh;
    display: flex;
    flex-direction: column;

  }

  .caixa {
    width: 100%;
    height: 65vh;
    margin: auto 0;
  }

  .caixa1 {
    width: 100%;
    height: 65vh;
    margin: auto 0;
  }
}


/* FOOTER NÃO MEXER */
@media only screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer-left-container {
    height: auto;
    padding: 1rem;
  }

  .footer-left-container,
  .footer-middle-container,
  .footer-right-container {
    width: 100%;
  }

  .footer-left-image {
    margin-top: 1rem;
  }

  .footer-right-content-container,
  .footer-list,
  .footer-left-title-container {
    padding: 0;
  }

  .footer-right-container {
    height: auto;
    padding-top: 1rem;
  }

  .footer-right-content-container {
    height: 100%;
    justify-content: space-around;
  }
}


/* HEADER NÃO MEXER */
@media only screen and (max-width: 1199px) {

  header {
    justify-content: space-between;
  }

  .caixa-direita {
    display: none;
  }

  .hamburger-icon {
    display: flex;
    margin-right: 1rem;
    float: right;
  }

  .caixa-direita.show-menu {
    position: fixed;
    top: 70px;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 25vh;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-right: 1rem;
    background-color: var(--clr-header);
    z-index: 999;
  }

  .caixa-direita.scrolled {
    background-color: transparent;
  }

  main.main-down {
    padding-top: calc(70px + 25vh);
  }

}